.ul {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    right: 0;
    left: 0;
    background-color: #ffffff;
    list-style-type: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-height: 200px;
}

ul li {
    padding: 0.5rem 1rem;
    transition-property: background-color, border-color, color, fill, stroke;
    cursor: pointer;

}



